    <div class="user-area">
        <div class=""><%= post.user.name %></div>
        <div class="name-block">
            <%= image_tag post.user.picture.url %>
            <%= link_to "", user_path(id: post.user.id), class:"user-link" %>
        </div>
    </div>
    <div class="detail">
        <div class="post-time">Posted <%= time_ago_in_words(post.created_at) %> ago.</div>
        <div class="post-content"><%= post.content %></div>
    </div>
    <div class="tool">
        <%= render 'layouts/like', post: post %>
    </div>