
<% @posts.each do |post| %>
    <div class="post">
        <div cass=""><%=post.user.name %></div>
        <div class="name-block">
            <%= image_tag post.user.picture.url %>
            <%= link_to "", user_path(id: post.user.id), class:"user-link" %>
        </div>
        <div>Posted <%= time_ago_in_words(post.created_at) %> ago.</div>
        <div class="post-content"><%= post.content %></div>
    </div>
<% end %>